*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #FF8500;
}
.content-focus{
    background-color: #03045E;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    outline:none;
    font-size: 15px;
}
p{
    color: #fff;
}
main{
    display: flex;
    justify-content: center;
    background-color:#FF9E00;
    height: 200px;
    position: relative;
}
h2{
    font-size:1.3rem;
    font-family: 'Montserrat', sans-serif;

}
.forms{
    position: absolute;
    left: 40%;
    top: 50%;
}
#currencyValue{
    width: 130px;
    height: 20px;
    border-top: none;
    border-bottom:none;
    border-left: none;
    border-right: none;
    border-radius: 20px;

}
#currencyConvert{
    width: 130px;
    height:20px;
    border-top: none;
    border-bottom:none;
    border-left: none;
    border-right: none;
    border-radius: 20px;

}
